body {
    background-color: mediumpurple;
}


.added-to-row {
    display: inline-block;
    margin: 0;
    height: 10px;
    width: 10px;
    border: 1px solid blue;
    box-sizing: border-box;

}

.row-container {
    display: block;
    margin: 0;
    height: 100px;
    width: calc(10* height);
    border: 1px solid darkgreen;
    box-sizing: border-box;
}

#canvas-container {
    box-sizing: border-box;

}

#web-app-container {
    height: 100vh;
    width: auto;

}